# PostgreSQL
DB_HOST=51.250.21.140
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=MyStrongPassword123!
DB_NAME=shop_db

# Redis 
REDIS_HOST=10.129.0.11 
REDIS_PORT=6379
REDIS_PASSWORD=

# Kafka 
KAFKA_BOOTSTRAP_SERVERS=10.129.0.11:9092

# Yandex S3
S3_ACCESS_KEY=     
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=
S3_ENDPOINT_URL=

# JWT
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

# FastAPI
APP_ENV=development
DEBUG=True